@using System.Web.Optimization;
@using System.Web.WebPages;
@using System.Web.Mvc.Html;
@using System.Web.Mvc;

@model TrainTicketsBooking.Models.OrderModel


@{
    ViewBag.Title = "在线订票";
}


<!-- begin col-12 -->
<div class="col-md-12">

    <!-- begin invoice -->
    <div class="invoice">
        <div class="invoice-company">
            <span class="pull-right hidden-print">
                @*<a href="javascript:;" class="btn btn-sm btn-success m-b-10"><i class="fa fa-download m-r-5"></i> Export as PDF</a>*@
                <a href="javascript:;" onclick="window.print()" class="btn btn-sm btn-success m-b-10"><i class="fa fa-print m-r-5"></i> 打印</a>
            </span>
            订单状态
        </div>

        <div class="invoice-content">
            <div class="table-responsive">
                <table class="table table-invoice">
                    <thead>
                        <tr>
                            <th>车次/类型</th>
                            <th>出发站</th>
                            <th>到达站</th>
                            <th>状态</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <h5>G71 / 高速动车</h5>
                                <small>北京西 - 广州南 （G71） 共2239公里</small>
                            </td>
                            <td>@Model.FromStation</td>
                            <td>@Model.ToStation</td>
                            <td>@Model.OrderStatus <a href='@Url.Action("OrderStatus", new { id= @Model.Id })'><i class="fa fa-refresh"></i></a></td>
                            
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <a href="#" class="btn btn-default btn-block btn-lg disabled">前去支付</a>

        <div class="invoice-note">
            * Make all cheques payable to [Your Company Name]<br />
            * Payment is due within 30 days<br />
            * If you have any questions concerning this invoice, contact  [Name, Phone Number, Email]
        </div>
    </div>
    <!-- end invoice -->

</div>
<!-- end col-12 -->